.nav {
    padding: 0px !important;
    border-bottom: 1px solid #ccd5f1;
    width: 1800px;
    background-color: rgba(0, 0, 255, 0.089);
  
 
 }
 .container{
   
    margin: 0px 0px;
    width: 1800px
 }