
@font-face {
    font-family: Karla;
    src: url(../font/Karla-Light.ttf);
}
@font-face {
    font-family: Karlab;
    src: url(../font/Karla-Bold.ttf);
}
@font-face {
    font-family: raleway;
    src: url(../font/Raleway-Light.ttf);
}
@font-face {
    font-family: DEja;
    src: url(../font/bpg_dejavu_sans.otf);
}
a a:hover{
    text-decoration: none;
    
}
  .carousel-item {
    height: 870px;
    min-height: 300px;
    background: no-repeat center center scroll;
    
    background-size: cover;
  }

 
 .z-index{
     width: 100%;
     z-index: 999;
     font-family: Karla;
     
     color: #9eabb1;
 }
 /* სუბ ნავის კონტაკტებს შორის დაშორება */
 .length .list-inline-item:not(:last-child) {
    margin-right: 60px;
    
}
   /* სუბ-ნავი */
 .z-index:first-child{
     background-color: #e5eef0;

     height: 50px;
     font-size: 13px !important;

 }
 /* საკონტაქტოების ლოგოების დაშორება */
 .contact{
     padding-right: 8px;

 }
 .length{
    padding-top:12px !important ;
}
  /* ნავი  */
  .z-index:nth-child(2){
    margin-top: 3.1rem;
    background-color: #ffffff ;
    font-size: 15px !important;
   
}
@media (min-width: 992px){}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: .5rem;
    padding-top: 18px;
    padding-bottom: 19px;
}
.nav-link{
    color:  #9eabb1;

}
.nav-item:last-child .nav-link {
    width: 140px !important; 
    height: 38px !important;
    background-color: #29c2e1 !important;
    border-radius: 40px !important; 
    color: white;
    justify-content: center;
    align-items: center;
    


}

.nav-item:first-child .nav-link {
    color: #000000;
    font:bolder;

}
.main h3{
    font-family: Deja;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.main p{
    font-family: raleway;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 300px;
}
.main .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 9px;
    height: 8px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top:none;
     border-bottom:none; 
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 9px;
    margin-bottom: 26px;
}